<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Verificação</title>
        <link rel="icon" href="logoArch.png" type="image">

        <body>
            <header>
                <div class="logo_site">
                    <a href="index" target="_blank">

                            <img src="logoArch.png title="logo" class="logo" width="100px" height="100px">

                    </a>
                    <nav>
                        <ul>
                            <li><a href="index">Home</a></li>
                            <li><a href="cadastro">Cadastro</a></li>
                            <li><a href="contato">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="container">
                <h1>Login de administrador</h1>              

                    coloca um campo não editavel para o nome do usuario
                    usuario

                    coloca a justificativa
                    <p id="justificativa" name="justificativa">ADOCICA</p>
                    justificativa
                    
                    coloca o estado da requisição
                    requisição
            </div>

            <script src="script.js"></script>
        </body>
        <footer>
            <img src="logoArch.png">
            <p class="copyright">&copy; Copyright ArchDoc - 2022</p>
        </footer>
    </head>
</html>