<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Verificação</title>
        <link rel="icon" href="logoArch.png" type="image">

        <body>
            <header>
                <div class="logo_site">
                    <a href="index.html" target="_blank">

                            <img src="logoArch.png" title="logo" class="logo" width="100px" height="100px">

                    </a>
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="ajuda.html">Ajuda</a></li>
                            <li><a href="contato.html">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="container">
                <h1>Cadastre seu usuário!</h1>              
                <form>  
                    <label class="labels" for="name">Usuário:</label>
                    <input type="text" name="name" id="name" required>
                    <label class="labels" for="subject">Senha:</label>
                    <input type="password" name="password" id="password" required>
                    <label class="labels" for="justify">Justificativa:</label>
                    <textarea name="message" cols="30" rows="10" required></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <script src="script.js"></script>
        </body>
        <footer>
            <img src="logoArch.png">
            <p class="copyright">&copy; Copyright ArchDoc - 2022</p>
        </footer>
    </head>
</html>